ul li {
    list-style-type: none;
}

ul ul {
    display: none;
}

li:hover ul {
    display: block;
    position: relative;
    right: 30px;
    color: gray;
}

a {
    text-decoration: none;
    color: inherit;
}

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }
